body {
  margin: 0;
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

/* Header */

h1 {
  color: #7c3aed;
  transform: scale(0.9);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  padding-bottom: 20px;
}
@keyframes scale {
  100% {
    transform: scale(2);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}
span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(2) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(3) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(4) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(5) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.toggle {
  position: relative;
  width: 100px;
  height: 50px;

}

.toggle-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: black;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid white;
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: lightblue;
  border: 1px solid black;
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px white;
  box-shadow: inset 12px -4px 0px 0px white;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: goldenrod;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}

.explore {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #7c3aed;
  transition: all 1000ms;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 15px;
  gap: 0.5rem;
  align-items: center;
}

.explore::before {
  position: absolute;
  content: "Explore";
  width: 0%;
  inset: 0;
  color: gray;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.explore::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: #7c3aed;
  height: 2px;
  transition: 0.3s ease-out;
}

.explore:hover::after {
  width: 100%;
}

.explore:hover::before {
  width: 100%;
}

/* Navigation */

nav {
  background-color: #7c3aed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav{
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 2s, font-size 2s;
  border: 1px solid black;
  cursor: pointer;
}

nav li:hover {
  flex: 2;
  font-size: 20px;
  color: white;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  transition: all 0.2s;
  text-transform: uppercase;
}

/* About Section */
#about {
  display: flex;
}

.about-img {
  flex: 1;
}

.about-desc {
  flex: 1;
}

/* Resume section */
#resume {
  border: 1px solid red;
  text-align: center;
}

/* Project Section */
#projects {
  border: 1px solid blue;
  text-align: center;
}

/* Contact section */
#contact {
  border: 1px solid green;
  text-align: center;
}